.header {
  background-color: #333;
  width: 100%;
  padding: 1rem;
}
.header h1{
  color: white;
  padding-left: 1em;
}

.nav {
  display: flex;
  justify-content: right;
}

.link {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0 1rem;
}

.link:hover {
  color: #0070f3;
}
